.signup-body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

.signup-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 350px;
}

.signup-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.form-group-signup {
  margin-bottom: 20px;
}

.form-group-signup label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555555;
}

.form-group-signup input {
  width: 91%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.form-group-signup select {
  width: 98%;
  padding: 12px;
  font-size: 14px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.form-group-signup input:focus {
  outline: none;
  border-color: #007bff;
}

.signup-button-container {
  display: flex;
  width: 98%;
  justify-content: space-between;
}

.signup-button {
  text-align: center;
  width: 45%;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cancle-button {
  text-align: center;
  width: 45%;
  padding: 15px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #6c757d;
}

.signup-button:hover {
  background-color: #0056b3;
}

.cancle-button:hover {
  background-color: #5a6268;
}

.message {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: red;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
